/************************* DEBUG SETTINGS *************************/

/* Settings to help find errors in your css
   uncomment to enable */

/* Add dotted line around all boxes.
   This makes size of boxes visible.
   Warning 1: this settings may change your layout.
   Warning 2: keep the * as selector for all tags when uncommenting. */
/*  * {border: 1px dotted black;}   */
  
/* Add semi-transparant dark background to all boxes
   The more boxes are on top of eachother the darker tghe background color
   Warning: keep the * as selector for all tags when uncommenting. */
/*  * {background-color: rgba(0,0,0,5%);}  */

/************************* YOUR SETTINGS *************************/

/* add your css here, feel free to use comments and order them logically for better readability */

body {
   margin: 0;
   background-color: lightcyan;
}

/* Font selectie */
h1 {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
   font-family: 'Times New Roman', Times, serif;
}

a {
   font-family: 'Times New Roman', Times, serif;
}


#wrapper {
   max-width: 1000px;
   min-width: 825px;
   margin: auto;
   padding: 0;
}

header {
   height: 200px;
   width: 100%;
   background-image: url("/images/Orkest.jpg");
   background-size: cover;
   text-align: center;
   padding-top: 20px;
}

#title {
   width: 250px;
   padding: 30px;
   margin: auto;
   background-color: #bdbdbad2;
   border: 2px solid #bdbdbad2;
   border-radius: 5px;
}

/* CSS voor Navbar Button */
.navbar {
   display: inline-block;
   width: auto;
   padding: 10px 20px;
   margin-right: 20px;
   margin-top: 5px;
   margin-bottom: 10px;
   text-decoration: none;
   color: #000000;
   background-color: #bad8d1d2;
   border: 2px solid #000000;
   border-radius: 5px; /* Add ronde hoekjes :) */
   transition: background-color 0.3s ease, color 0.3s ease; /* transitie voor de kleur tijdens hover */
 }
 
 .navbar:hover {
   background-color: #75b1a3d2;
   color: #000000;
 }
 
 /* Styling voor de knop corresponderend met de huidige pagina */
 .active {
   background-color: #4d7c70;
   color: #000000;
 }

 ul {
   list-style: none;
 }

 #navbar {
   height: auto;
   width: 100%;
   float: left;
   background-color: #bdbdbad2;
   border-top: 2px solid #000000;
   border-bottom: 2px solid #000000;
 }
 
/* Css voor dropdown menu */
ul li {display: inline-block;}
ul li:hover ul {display: block;}
ul li ul {
  position: absolute;
  width: auto;
  display: none;
  padding: 0;
  border: 2px solid #000000;
  border-radius: 5px;
  margin-top: -12px;
}
ul li ul li {  
  display: block;
  width: auto;
}
ul li ul li a {
   display: block;
   padding: 10px 20px;
   background-color: #bad8d1;
   text-decoration: none;
   color: #000000;
} 

ul li ul li a:hover {
   background-color: #75b1a3;
   color: #000000;
}

/* Main pagina content */
#content_wrapper {
   Width: 80%;
   padding: 100px;
   margin: auto;
   float: left;
   background-color: #ffffffd2;
}

article {
   margin-bottom: 100px;
}

/* Componisten profiel dinges */
.componisten_introductie {
   display: block;
   width: 80%;
   height: 150px;
   margin-bottom: 20px;
   margin-left: 10%;
   margin-right: 10%;
   background-color: #bdbdbad2;
   border: 2px solid #000000;
   border-radius: 5px;
   float: left;
   text-decoration: none;
   color:#000000;
   transition: width 0.25s ease-out, margin 0.25s ease-out;
}

.componisten_introductie:hover {
   width: 85%;
   margin-left: 7.5%;
   margin-right: 7.5%;
   transition: width 0.25s ease-out, margin 0.25s ease-out;
   background-color: #bdbdba;
}

.componisten_profilepicture {
   height: 150px;
   width: 115px;
   border-right: 2px solid #000000;
   border-top-left-radius: 5px;
   border-bottom-left-radius: 5px;
   float: left;
   margin-right: 30px;
}

.componisten_introductie_tekst {
   margin-bottom: 50px;
}

 /* CSS voor footer */
footer {
   width: 100%;
   height: 150px;
   padding-top: 75px;
   background-color: #bdbdbad2;
   border-top: 2px solid #000000;
   float: left;
   text-align: center;
 }
 
.footer_text {
   text-decoration: none;
   color: #000000;
}

/* Css voor Download knop */

.download {
   display: block;
   float: left;
   width: 290px;
   padding: 10px 20px;
   margin-right: 20px;
   margin-top: 5px;
   margin-bottom: 20px;
   text-decoration: none;
   text-align: center;
   color: #000000;
   background-color: #bad8d1d2;
   border: 2px solid #000000;
   border-radius: 5px;
   transition: background-color 0.3s ease, color 0.3s ease;
}

.download:hover {
   background-color: #75b1a3d2;
   color: #000000;
}

.download:active {
   background-color: #4d7c70d2;
   color: #000000;
}

/*Over ons stukjes*/

.over_ons_tekst {
   display:block;
   width:100%;
   height: 300px;
   padding-right: 20px;
   margin-bottom: 40px;
   background-color: #bdbdbad2;
   border:2px solid #000000;
   border-radius: 5px;
   float: left;
   text-decoration: none;
   color:#000000;
}

.over_ons_profilepicture{
   height: 300px;
   width: 200px;
   border-right: 2px solid #000000;
   border-top-left-radius: 5px;
   border-bottom-left-radius: 5px;
   float: left;
   margin-right: 30px;
}
   
.componist {
   height: 250px;
   width: 250px;
   float: right;
   margin: 10px;
}