/************************* DEBUG SETTINGS *************************/

/* Settings to help find errors in your css
   uncomment to enable */

/* Add dotted line around all boxes.
   This makes size of boxes visible.
   Warning 1: this settings may change your layout.
   Warning 2: keep the * as selector for all tags when uncommenting. */
/*  * {border: 1px dotted black;}   */
  
/* Add semi-transparant dark background to all boxes
   The more boxes are on top of eachother the darker tghe background color
   Warning: keep the * as selector for all tags when uncommenting. */
/*  * {background-color: rgba(0,0,0,5%);}  */

/************************* YOUR SETTINGS *************************/

/* add your css here, feel free to use comments and order them logically for better readability */

body {
   margin: 0px;
   background-color: lightcyan;
}

#wrapper {
   max-width: 1000px;
   min-width: 500px;
   margin: auto;
   padding: 0px;
}

#title {
   height: 200px;
   width: 100%;
   background-color: #7DAFFA;
   text-align: center;
   padding-top: 50px;
}

/* CSS voor Navbar Button */
.navbar {
   display: block;
   float: left;
   padding: 10px 20px;
   margin-right: 20px;
   margin-top: 5px;
   margin-bottom: 20px;
   text-decoration: none;
   color: #000000;
   background-color: #bad8d1d2;
   border: 2px solid #000000;
   border-radius: 5px; /* Add ronde hoekjes :) */
   transition: background-color 0.3s ease, color 0.3s ease; /* transitie voor de kleur tijdens hover */
 }
 
 .navbar:hover {
   background-color: #75b1a3d2;
   color: #000000;
 }
 
 /* Styling voor de knop corresponderend met de huidige pagina */
 .navbar.active {
   background-color: #4d7c70d2;
   color: #000000;
 }

 #navbar_ul {
   list-style: none;
 }

 #navbar {
   height: auto;
   width: 100%;
   float: left;
   background-color: #bdbdbad2;
 }

 /* CSS voor footer */
 footer {
   width: 100%;
   height: 180px;
   background-color: #bdbdbad2;
   float: left;
   text-align: center;
 }
 
.footer {
   text-decoration: none;
   color: #000000;
}

/* Main pagina content */
#content_wrapper {
   padding: 100px;
   margin: auto;
   float: left;
   background-color: #ffffffd2;
}

article {
   margin-bottom: 100px;
}

/* Componisten profiel dinges */
.componisten_introductie {
   display: block;
   width: 80%;
   height: 150px;
   margin-bottom: 20px;
   margin-left: 10%;
   background-color: #bdbdbad2;
   border: 2px solid #000000;
   border-radius: 5px;
   float: left;
   text-decoration: none;
   color:#000000;
}

.componisten_profilepicture {
   height: 150px;
   border-right: 2px solid #000000;
   border-top-left-radius: 5px;
   border-bottom-left-radius: 5px;
   float: left;
   margin-right: 30px;
}

.componisten_introductie_tekst {
   margin-bottom: 50px;
}
